<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/faster.css">
    <title>Faster</title>
</head>
<body>
    <div class="grid">
        <header>
            <div class="header-grid">
                <div class="header-content">
                    <div class="logo"><img src="./images/logo.png" alt="Faster"></div>
                    <nav>
                        <ul>
                            <li><a href="">How Fast?</a></li>
                            <li><a href="">Sellers</a></li>
                            <li><a href="">Store</a></li>
                            <li><a href="">Docs</a></li>
                            <li><a href="">Help</a></li>
                        </ul>
                    </nav>
                    <div class="login">
                        <button>Fast Login</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="phone"></div>
        <div class="hero">
            <div class="hero-content">
                Contenido!
            </div>
        </div>
        <section class="section-1">Section 1</section>
        <section class="section-2">Section 2</section>
        <section class="section-3">Section 3</section>
        <section class="section-4">Section 4</section>
    </div>
    <section>Other section</section>
    <section>Other section</section>
    <footer>Footer</footer>
</body>
</html>