<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homer.css">
    <title>Homer Website</title>
</head>
<body>
    <div class="grid">
        <img src="./images/boca.gif" alt="" class="mouth">
        <img src="./images/campana.gif" alt="" class="bell">
        <img src="./images/dios.gif" alt="" class="god">
        <img src="/images/gusano.gif" alt="." class="worm">
        <img src="./images/reloj.gif" alt="" class="clock">
        <img src="./images/tostadora.gif" alt="" class="toaster">
    </div>
</body>
</html>